<p>
Uno de los moderadores de <a href="<%=@group_url%>"><%=@group.name%></a> piensa que te interesaría unirte..
<p>
<br/>
<p>
<a href="<%=@accept_url%>">Aceptar invitación</a> |  
<a href="<%=@reject_url%>">Rechazar invitación</a>