- if future_match
  .match
    .match_content
      .flags
        .flag
          .image
            %span.flag.small{:class => future_match.match.local.flag_name} --
            %br
            = future_match.match.local.short_name
          .prediction_result
            = (future_match.first_team_result || "--" )
          .clear
        .flag
          .image
            %span.flag.small{:class => future_match.match.visitor.flag_name} --
            %br
            = future_match.match.visitor.short_name
          .prediction_result
            = (future_match.second_team_result || "--")
          .clear            
        .clear
      .clear