- semantic_form_for ["admin",@snicker] do |form|
  - form.inputs do
    = form.input :id
    = form.input :name
    = form.input :picture   
  - form.buttons do
    = form.commit_button 'Grabar',:button_html => { :class => "submit" }