- @title = "Viendo zapatilla"

#admin

  %h1 "Viendo zapatilla"

  - show_for @snicker do |a| 
    = a.attribute :name
    

  .bottom_menu
    = link_to "Ver todos", admin_snickers_path
    = link_to "Editar zapatilla",  edit_admin_snicker_path(@snicker)
    = link_to "Crear otro", new_admin_snicker_path
