- @title = "Patatoon ::  Iniciando sesión"
- @body_class = "register home"

#banner 
= display_flashes
#main_content

  #welcome
    %h2 Bienvenidos a la nueva comunidad de hinchas

  #new_account
    %h3 Entra a tu cuenta: 

    .content_box
      = render :partial => "sessions/form"


    = link_to "o entra con Facebook", fb_connect_path, :id=>"register_facebook"


- content_for :sidebar do
  = render :partial => "home/sidebar"
