- semantic_form_for ["admin",@<%= singular_name -%>] do |form|
  - form.inputs do
  <%- column_names.each do |column| -%>
    = form.input :<%= column %>
  <%- end -%>
    
  - form.buttons do
    = form.commit_button 'Grabar',:button_html => { :class => "submit" }