- semantic_form_for ["admin",@badge] do |form|
  - form.inputs do
    = form.input :name, :label => "Nombre"
    = form.input :description, :label=>"Descripción", :input_html => {:class => "tinymce"}
    = form.input :type, :label => "Tipo"
    
  - form.buttons do
    = form.commit_button 'Grabar',:button_html => { :class => "submit" }