#most-predicted
  %h3 los más comentados
  .container
    %ul= render :partial => "home/most_comments", :collection => @most_commented

    .clear
  .nav
    %a.prev.arrow{:href => "#"}
    %a.next.arrow{:href => "#"}
    = link_to "Deja tu pronóstico", predictions_path, :class=>"predict button"
    .clear
