.ury.small {
	background:url(../images/flags/ury-small.png) no-repeat;
}

.fra.small {
  background:url(../images/flags/fra-small.png) no-repeat;
}

.arg.small {
	background:url(../images/flags/arg-small.png) no-repeat;
}

.nga.small {
	background:url(../images/flags/nga-small.png) no-repeat;
}


.rsa.medium {
	background:url(../images/flags/rsa-medium.png) no-repeat;
}

.mex.medium {
	background:url(../images/flags/mex-medium.png) no-repeat;
}

.fra.medium {
	background:url(../images/flags/fra-medium.png) no-repeat;
}


.nga.medium {
	background:url(../images/flags/nga-medium.png) no-repeat;
}
