.ury.small {
	background:url(../images/flags/ury-small.png) no-repeat;
}

.arg.small {
	background:url(../images/flags/arg-small.png) no-repeat;
}


.rsa.medium {
	background:url(../images/flags/rsa-medium.png) no-repeat;
}

.mex.medium {
	background:url(../images/flags/mex-medium.png) no-repeat;
}