/* @override 
	http://patatoon.com/stylesheets/layout.css?1276279900
	http://localhost:3000/stylesheets/layout.css
	http://patatoon.com/stylesheets/layout.css?1276479266
	http://patatoon.com/stylesheets/layout.css?1276483769
	http://patatoon.com/stylesheets/layout.css?1276517107
	http://patatoon.com/stylesheets/layout.css?1276617126
	http://trustart.heroku.com/stylesheets/layout.css?1276627313
*/

@font-face {
	font-family: 'HelveticaRounded';
	src: url('../fonts/helveticardbd-webfont.eot');
	src: local('☺'), url('../fonts/helveticardbd-webfont.woff') format('woff'), url('../fonts/helveticardbd-webfont.ttf') format('truetype'), url('../fonts/helveticardbd-webfont.svg#webfontBrcAT9c4') format('svg');
	font-weight: bold;
	font-style: normal;
}

.streams #content li {
	list-style: none;
	overflow: hidden;
}

.streams #content li div.meta {
	float: left;
	margin-right: 10px;
	text-align: center;
	width: 100px;
}

#content li div.meta p.title {
	font-weight: bold;
}

.streams #content li div.content {
	float: left;
	width: 600px;
	border: 1px solid #8da15e;
	padding: 10px 20px;
}

.streams #content {
	width: 900px !important;
}

.streams #content li div.content a {
	color: #3a9154;
	font-weight: bold;
}


.predictions.home #most-predicted div.container ul li {
	margin-bottom: 10px !important;
}

.predictions.home #nexts-games h3 {
	margin-bottom: 20px;
}

body.avatar {
  
  margin: 0px;
  border:0 none;
}

h2,h3,h4,h5,h6 {
	font-family: 'HelveticaRounded', Arial;
	overflow:visible;
}



h2 {
	font-size:2.7em;
	height:32px;
	line-height:32px;
	color:#423B13;
	letter-spacing:-.05em;
}

h3 {
	font-size:2.1em;
	height:26x;
	line-height:26px;
	color:#423B13;
	letter-spacing:-.02em;
}


body {
	background:#fff;
	font-size:.75em;
	font-family:Arial;
}

#clouds {
	background: #B9DBF4 url(../images/clouds.png) center top no-repeat;
	height:600px;
	z-index:-2;
	position:absolute;
	top:0;
	width:100%;
}

#city {
	background:url(../images/city.png) center top no-repeat;
	height:161px;
	width:100%;
}

.wrapper {
	width:960px;
	margin:0 auto;
	position:relative;
}

#container {
	position:relative;
	background: url(../images/grass.png) left 110px repeat-x;
}

#content,
#sidebar {
	
}

.arrow {
	background: url(../images/banner-arrows.png) no-repeat;
	}

.button {
	background:url(../images/buttons.png) no-repeat;
}

.messages #content form div.actions a.button.mainaction {
	padding: 5px 10px;
	height: 10px !important;
	display: block;
	width: 90px;
	border: none !important;
	float: left;
	color: white;
	font-weight: normal;
	font-family: Arial, Helvetica, Geneva, sans-serif;
}

#content form div.actions {
	margin-top: 10px;
}

#content form div.actions input.button.mainaction {
	color: #fffef6;
}

#portlet_friends div.portlet_content ul.clearfix li a {
	overflow: hidden;
	width: 55px;
	height: 55px !important;
	display: block;
}

#portlet_friends div.portlet_content ul.clearfix li {
	float: left;
	margin-right: 8px;
}

a.button,
input.submit {
	color:#fff;
	text-align:center;
	font-family: 'HelveticaRounded', Arial;
	letter-spacing:.05em;
}

input.submit:hover {
	text-decoration:underline;
	cursor:pointer;
}

.avatar {
	border:5px solid #B7D274;
}


















.bg-footer {
	background: url(../images/footer-bg.png) repeat-x center bottom;
	height:129px;
}

#footer {
	height:150px;
	margin-bottom:20px;
}

#footer li {
	float:left;
}


h1 {	
	background:url("../images/logo.png") no-repeat scroll 0 0 transparent;
  bottom:13px;
  height:42px;
  left:21px;
  position:absolute;
  width:203px;
  z-index:10;
}

h1 a{
	display:block;
	width:100%;
	height:100%;
}

h1 a span {
	display:none;
	visibility:hidden;
}

#header .wrapper {
	height:125px;
}

#header #login {
	position:absolute;
	right:11px;
	top:14px;
}

#header #login a {
	display:block;
	text-align:center;
	height:32px;
	line-height:29px;
	float:left;
	font-family: 'HelveticaRounded';
	color: #fff;
	font-size:1.25em;
}

a.log-in {
	width:143px;
	background-position:left -32px !important;
	margin-right:18px;
}

a.register {
	width:113px;
}

#header #nav {
	height:15px;
	width:625px;
	background:url(../images/buttons.png) no-repeat left bottom;
	position:absolute;
	left:0;
	bottom:0;
	padding:25px 0 25px 335px;
	z-index:5;
}

div#top_profile {
	overflow: auto;
	background-color: #a4ceea;
	padding: 5px 25px;
	border: 1px solid #6595ff;
}

#top_profile a {
	margin-right: 10px;
	height: auto !important;
	color: #9abceb;
	font: 14px Arial, Helvetica, Geneva, sans-serif !important;
}

#header #nav li {
	float:left;
	height:17px;
	line-height:15px;
	border-left: solid 1px #4A68A4;
	padding:0 20px;
}

#header #nav li.first {
	border:none;
	padding-left:0;
}

#header #nav li.selected a,
#header #nav li a:hover{
	color:#EFDB57;
	text-decoration:none;
}

#header #nav li a{
	color:#fff;
	font-size:1.35em;
	font-family: 'HelveticaRounded', Arial;
}



#banner-cont {
	width:815px;
	height:271px;
	margin:0 auto;
	background:url(../images/banner-bg.png) no-repeat left 42px;
	position:relative;
	z-index:20;
	padding:52px 13px 18px 13px;
	font-family: 'HelveticaRounded', Arial;
}

#banner ul {
	overflow:visible;
}

/*#banner-cont ul li,
#banner-cont ul div {
  width:815px;
  height:271px;
}*/

#banner-cont .arrow {
	position:absolute;
	top:138px;
	width:63px;
	height:63px;
	z-index:50;
}

#banner-cont .prev {
	left:-22px;
}

#banner-cont .next {
	background-position: left -63px;
	right:-22px;
}

.home #container {
	margin-top:-84px;
}

.register #container {
	margin-top:-42px;
}

#banner-cont .banner-1 {
	position: relative;
	/*background:url(../images/banners/banner-1.png) no-repeat;*/
}

#banner-cont .banner-1 img {
	position:absolute;
	left:0;
	top:-29px;
	}

	
#container .wrapper {
	margin-top:5px;
	padding:31px 28px 0 28px;
	width:920px;
	background: url(../images/wrapper.png) no-repeat left top;
	
}

.home #container #content {
	float:left;
	width:630px;
}
	
#nexts-games #counter-cont {
	height:87px;
	background: #EBF3D7;
	margin-bottom:10px;
	padding:0 16px;
}


#counter-cont #vs {
    float:left;
    height:46px;
    width:323px;
    line-height:36px;
    margin-top:22px;
    font-size:2.5em;
    color:#748B3B;
    font-family: 'HelveticaRounded', Arial;
    text-align:center;    
}


#counter-cont #vs .one,
#counter-cont #vs .two {
	width:25%;
	text-transform:uppercase;
}

#counter-cont #vs .one{
	float:left;
	padding-left:60px;
}

#counter-cont #vs .two{
	float:right;
	padding-right:60px;
	background-position:right top;
}

#counter-cont .counter {
	float:right;
	margin-top:15px;
}

#counter-cont .counter div{
	float:left;
	width:54px;
	margin: 0 4px;
	height:55px;
	background: url(../images/counter-bg.png) center top no-repeat;
	text-align:center;
	color:#837B4B;
	font-size:.8em;
}

#counter-cont .counter div span{
	display:block;
	width:100%;
	height:45px;
	line-height:45px;
	margin-bottom:5px;
	font-size:4em;
	font-weight:bold;
	}
	
#counter-cont .counter div:hover {
	cursor:default;
}	
	
#counter-cont .counter div.day span {
	color:#000;
}	

#nexts-games a,
#most-predicted a {
	color: #211E0A;
}

#vs a {
	display: block;
	color: #90a65c;
  padding: 5px;
  width: 320px;
}
/*
#counter-cont #vs a{ 
    color:#90A65C;
    display:block;
    padding:5px;
}*/



.matches a#new_session,
.predictions a#new_session {
	font-size: 1.3em;
	text-decoration: underline;
	color: #748b3b;
}

#groups_match a#new_session {
	margin-bottom: 10px;
	display: block;
}

#comment_form h4 {
	font-size: 1.4em;
	margin-top: 10px;
}

#comment_form h4 span {
	color: #90a65c;
}

form#new_comment.formtastic.comment {
	background: none;
	padding: 0px;	
	margin-top: 25px;
}
#comments_li {
	margin-top: 15px;
}
#comments_li li {
	margin-bottom: 10px;
	padding-bottom: 20px;
	overflow: auto;
	clear: both;

}

#comments_li li div.meta {
	float: left;
	width: 90px;
}

#comments_li li div.meta p.title {
	font-weight: bold;
}

#comments_li li div.content {
	float: left;
	overflow: hidden;
	padding: 5px 10px;
	padding-bottom: 20px;
	padding-right: 20px;
	width: 480px;
	border: 1px solid #daeda8;
}

#comments_li li div.meta img.avatar {
	margin: 0px 15px;
}

#nexts-games h2 {
	margin:4px 0 20px 0;
}

#comments_li li div.meta p {
	text-align: center;
}

#nexts-games li {
	float:left;
	width:198px;
	height:42px;
	border: solid 1px #D8ECA3;
	margin:0 15px 10px 0;
	position:relative;
}

#nexts-games a:hover {
	background: #F8FDED;
	text-decoration:none;
}

#nexts-games li.last {
	margin-right:0;
}

#nexts-games li a{
	display:block;
	width:182px;
	height:100%;
	padding:0 8px;
	}

#nexts-games li .flag {
	float:left;
	line-height:42px;
	height:42px;
	padding-left:36px;
	width:29px;
	background-position:left center;
	text-transform:uppercase;
	}
	
	
  li div.flag {
  	float:left;
  	height:32px;
  	line-height:32px;
  	width:65px;
  	padding:5px 0;	
  	text-transform:uppercase;
  	}

  td.flag {
  	width:65px;	
  	text-transform:uppercase;	
  }

  li img.flag,
  td img.flag{	
  	float:left;
  	margin-right:5px;
  }
	
#nexts-games li p{
	line-height:42px;
	height:42px;
	position: absolute;
	right:8px;
	font-weight:bold;
}

#most-predicted {
	margin-top:22px;
}

#most-predicted h3{
	margin-bottom:22px;
}

#most-predicted li {
	border: solid 1px #D8ECA3;
	float:left;
	height:65px;
	width:146px;
	margin-right:12px;
}

#most-predicted li a{
	display:block;
	width:130px;
	padding:0 8px;
	height:100%;
	}

#most-predicted li.last {
	margin-right:0;
}

#most-predicted .nav .arrow {
	width:26px;
	height:26px;
	background-position: left bottom;
	display:block;
	float:left;
	margin-right:10px;
}

#most-predicted .nav .next {
	background-position: right bottom;
}

#most-predicted .nav .predict{
	float:right;
	background-position:right -28px;
	height:28px;
	text-align:center;
	line-height:28px;
	width:146px;
	color:#fff;
}
	
#most-predicted li .flag {
	float:left;
	line-height:45px;
	height:45px;
	padding-left:36px;
	width:29px;
	background-position:left center;
	text-transform:uppercase;
	}
	
#most-predicted li p{
	font-weight:bold;
	text-align:center;
}
	
#most-predicted li a:hover {
	background: #F8FDED;
	text-decoration:none;
}

#most-predicted .container {
	margin-bottom:10px;
}


#last-predicted {
	margin-top:22px;
}

#last-predicted h3{
	margin-bottom:22px;
}

#last-predicted li {
	height:105px;
	overflow:hidden;
	width:306px;
	padding:0;
	float:left;
	margin-bottom:5px;
	
}

#last-predicted li.odd {
	margin-right: 15px;
}

#last-predicted li div.meta{
	float:left;
	width:90px;
}

#last-predicted table tr, #last-predicted table td {
height:34px;
line-height:34px;
}

#last-predicted li div.meta .title {
	font-weight:bold;
	}

#last-predicted li img {
	display:block;
	margin:0 auto 3px auto;
	margin-right: 5px;
}
	
#last-predicted li p {
	text-align:center;
}

#last-predicted table {
	width:212px;
	float:right;
	border:solid 1px #DAEDA8;
}

#last-predicted table tr.header td{
	border-bottom:solid 1px #DAEDA8;
	background:#EDF5D7;
	}
	
/*#last-predicted table .flag {
  background-position:left center;
  padding-left:36px;
  text-transform:uppercase;
}*/

#last-predicted table tr,
#last-predicted table td{
/*  height:34px;*/
	line-height:34px;
}

#last-predicted table td.first {
	width:60px;
	padding-left:10px;
	font-weight:bold;
}

#last-predicted table td.win {
	background: url("../images/win.png") no-repeat 15px center;
}



#news h3 {
	margin-bottom:15px;
}

#news li {
	height:212px;
	overflow:hidden;
	width:275px;
	background: url(../images/news-bg.png) repeat-x;
	padding:15px 15px 0 15px;
	float:left;
	margin-bottom:5px;
}

#news .more {
	width: 76px;
	height:28px;
	background-position:right top;
	display:block;
	float:right;
	line-height:28px;
}

#news li.even {
	margin-right: 20px;
	}

#news li div a{
	position:absolute;
	left:0;
	bottom:0;
	display:block;
	width:23px;
	height:23px;
	background: #E2871C;
	color: #fff;
	text-align:center;
	line-height:23px;
	font-weight:bold;
	font-size:1.8em;
}

#news li div a:hover{
	text-decoration:none;
	}

#news li div{
	display:block;
	position:relative;
	height:92px;
	width:275px;

	}

#news li .alt {
	height:25px;
	overflow:hidden;
	padding:0 5px;
	color:#fff;
	background:#000;
	line-height:25px;
	margin-bottom:8px;
}

#news li .date {
	font-size:.9em;
	margin-bottom:5px;
}

.register #content {
	margin-top:15px;
}

.register h2 span{
	color:#B3CF70;
}

.register #content form {
	padding-left:365px;
	padding-top:60px;
	padding:60px 131px 0 365px;
	background:url(../images/pata-1.png) no-repeat 103px 63px;
}

.register #content form fieldset{
	margin-bottom:25px;
}

.register #content form input{
	width:421px;
	height:55px;
	background:url(../images/input-bg.png) no-repeat;
	border:none;
	margin-bottom:10px;
	padding: 0px 10px;
	font-size: 14px;
	}

#comment_form label {
	display: block !important;
}

#comment_form input {
	padding: 0px 10px !important;
	line-height: 10px;
	font-size: 12px;
	height: 60px !important;
}

textarea#comment_content {
	padding: 10px 10px;
	width: 400px;
	border: 1px solid #ccc;
}

#comment_form input.create {
	width: 100px !important;
	background: #90a65c none !important;
	color: #fffeff;
	font-weight: bold;
	height: 25px !important;

}

#edit_account h3 {
	margin-top: 10px;
	color: #90a65c;
	margin-bottom: 20px;
}

#edit_account label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 1.3em;
	color: #505151;
	border-color: #818181;
}

#edit_account div.content_box form.form div.group.email label {
	font-size: 15px;
}
#edit_account div.content_box form.form div.group.email {
	font-size: 1.2em;
	color: #bf0001;
}

#edit_account div.content_box form.form div.group.email span.description {
	display: block;
	margin-bottom: 20px;
	margin-top: 10px;
	color: #4d4a4a;
	font: normal normal 1em Arial, Helvetica, Geneva, sans-serif;
}

#edit_account div.cancel p a {
	color: #708348;
}

#edit_account div.content_box form.form span.description.facebook {
	color: #860000;
	font-weight: bold;
	margin-bottom: 20px;
	display: block;
}

input#account_submit.button {
	color: white;
	height: 32px;
	border: none;
	width: 120px;
}

#edit_account input {
	margin-bottom: 20px;
	border: 1px solid #969599;
	padding: 10px ;
	color: #888581;
	font-weight: bold;
}

.predictions.prediction.show #content h2 {
	margin-bottom: 10px;
}

#last-predicted ul li table tbody tr td a {
	text-align: center;
	padding: 0px;
	display: block;
	height: 25px;
	overflow: hidden;
	color: #E2871C;
	text-align:center;
	line-height:20px;
	font-weight:bold;
	font-size:1.1em;	
}
	

.register #content form input.submit{
	width:149px;
	height:41px;
	padding:0;
	background:url(../images/buttons.png) no-repeat -169px top;
	float:right;
}

.register #content form label {
	display:block;
	font-size:1.25em;
	font-family: 'HelveticaRounded', Arial;
	color:#6B6C6E;
	letter-spacing:.05em;
	margin-bottom:10px;
}

#new_account div.content_box div.content.login.box form div.group.wat-ct p label {
	float: left;
	margin-top: 20px;
}

.register #content form .cancel {
	float:right;
	height:41px;
	line-height:41px;
	color:#423B13;
	text-decoration:underline;
	margin-right:15px;
}

#news ul li p.alt a {
	color: white;	
}

#news ul li p {
	line-height: 1.4em;
}

#posts div.content_box div.post div.body p {
	font-size: 1.2em;
	line-height: 1.4em;
}

.posts.register.home #content h3 {
	margin-bottom: 20px;
}

div#groups_match {
	margin-top: 30px;
}

#groups_match h2 {
	margin-bottom: 10px;
	color: #d87d13;
}

.matches.register #groups_match #last-predicted {
	padding: 0px !important;
	margin: 0px;
}

.matches.register #groups_match #last-predicted li {
	text-align: left;
	list-style: none;
	height: auto;
	width: auto;;
}

.matches.register #groups_match #last-predicted ul {
	overflow: auto;
	padding: 0px;
	margin: 0px;
}

.matches.register #groups_match #last-predicted li table {
	margin-bottom: 20px;
	margin-right: 30px
}

body.sessions.register.home #new_account h3 {
	margin-top: 35px;
	color: #748b3b;
}

#new_account div.content_box div.content.login.box form {
	background: none;
	padding: 0px;
	margin-top: 10px;
}

input#account_remember_me {
	float: left;
	width: 20px !important;
	clear: both !important;
}

#new_account div.content_box div.content.login.box form div.group.navform.wat-cf div.right input.button {
	clear: both;
	display: block;
}
#footer {
	margin-top: 20px;
}
#footer h2.creer {
	background: url(/images/creerparacrear.png) no-repeat center;
	text-indent: -9999px;
	height: 150px;
	float: left;
	width: 150px;
}

#footer p {
	margin-top: 50px;
	float: left;
	width: 600px;
	text-align: center;
	color: #827e5e;
	font: 1.9em Arial, Helvetica, Geneva, sans-serif;
}

#footer h2.probide {
	background: url(/images/probide.png) no-repeat center;
	text-indent: -9999px;
	height: 150px;
	width: 150px;
	float: right;
}

#content div.flash span.message.notice {
	display: block;
	text-align: center;
	padding: 10px;
	background-color: #e6fcba;
	border-top: 1px solid #c6c89c;
	border-bottom: 1px solid #c6c89c;	
	margin-bottom: 20px;
	font-weight: bold;
	color: #5c5c5c;
}

#last-predicted ul li table tbody tr td a.predict.button.iframe {

	color: #d87d13;
	display: block;
	background:none;
}

.predictions.prediction.show #content h3 {
margin-top: 45px;
	color: #cd7711;
}

.predictions.prediction.show div#most-predicted {
	overflow: auto;
}

#last-predicted ul li table tbody tr.header td a div.flag.small {
	color: #876b52;
	font-weight: normal;
	font-style: normal;
	margin-right: 5px;
}

#content ul.extra_links {
	overflow: hidden;	
	margin-bottom: 20px;
	margin-top: 20px;
}

#content ul.extra_links li {
	float: left;
	margin-right: 20px ;
}

.profiles #content #profile_data h2  {
	margin-bottom: 10px;
}

img#avatar_image {
	display: block;
  height:300px;
  width:111px;
  margin-bottom:10px;
}

#profile_friends h2,
#profile_teams h2,
#profile_followers h2,
#profile_following h2 {
	font-size: 25px;
	color: #90a65c;
	margin-bottom: 5px !important;
}

div#portlet_friends.portlet.portletG {
	margin-bottom: 20px;
}

#profile_data a {
	color: #90a65c;
}

div#profile_avatar {
	overflow: hidden;
	float: left;
	margin-right: 20px;
}

div#profile_data {
	float: left;
}
div#profile_data h2 {
	color: #676767;
	font: 14px/10px Arial, Helvetica, Geneva, sans-serif;
}

div#profile_info {
	margin-bottom: 20px;

}

#content h2 {
	margin-bottom: 20px;
}

div#profile_sidebar {
	overflow: hidden;
	float: left;
	margin-right: 20px;
}

#portlet_moreLinks div.portlet_content ul li a {
	color: #7c704e;
	margin-bottom: 10px;
	display: block;
}

div#main_content {
	float: left;
	width: 500px;
}

div#profile_predictions.content,
div#game_status.content {
	background-color: #ebf3d7;
	padding: 20px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

div#game_status.content {
	margin-top: 10px;
}
#game_status ul {
	overflow: hidden;
}
#game_status ul li {
	float: left;
	width: 230px;
	margin-bottom: 10px;
}

#game_status h2 {
	font-size: 18px;
	color: #a8b781;
	margin-bottom: 10px;
}

#game_status ul li strong {
	font-weight: bold;
	color: #753a3b;
}

#game_status ul li span {
	display: block;	
	margin-top: 5px;
	margin-bottom: 10px;
}

#profile_predictions h2 {
	color: #a8b781;
	font-size: 30px;
	font-weight: normal;
	font-style: normal;
}

#profile_predictions div.incoming {
	float: left;
	width: 180px;
	margin-right: 10px;
}

#profile_predictions div.done {
	float: left;
	width: 270px;
}

#profile_predictions div.incoming h3,
#profile_predictions div.done h3 {
	font-size: 17px;
	color: #a8b781;
	margin-bottom: 10px;
}


#profile_predictions span.flag.small {
	width: 32px;
	height: 32px;
	display: block;
	text-indent: -9999px;

}

#profile_predictions div.match div.real_result div.result strong span.flag.small {
	float: left;
	width: 20px;
}

#profile_predictions div.incoming div.match div.match_content div.flags div.flag {
	float: left;
}

#profile_predictions div.incoming div.match div.match_content div.flags div.flag div.prediction_result {
	font-weight: bold;
	margin-top: 10px;
	height: 10px;
}

#profile_predictions div.done div.match div.real_result div.result strong {
	overflow: auto;
	float: left;
}
#profile_predictions .flags span.flag.small {
	float: left;	
}

#profile_predictions div.done div.match div.real_result span {
	color: #697b3f;
	float: left;
	width:80px;
	margin-right: 10px;
	height: 20px;
	margin-top: 5px;
}

#profile_predictions div.done div.match div.real_result div.result strong span.flag.small {
	margin: 0px;	
}

#profile_predictions div.done div.match div.real_result div.result strong span.goals {
	float: left;
	width: 10px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	font-weight: bold;
	color: #000;
	font-size: 13px;
}

#profile_predictions div.done div.match div.real_result div.result strong {
	overflow: auto;	
	display: block;
}

#profile_predictions div.done div.match div.real_result div.result {
	float: left;
	width: 80px;
	overflow: auto;
}

#profile_predictions div.match div.match_content div.flags div.flag div.image {
	float: left;
}

#profile_predictions div.match div.match_content div.flags div.flag div.prediction_result {
	float: left;
}

#profile_predictions div.match div.match_content div.flags div.flag div.prediction_result {
	width: 20px;
	height: 30px;
	margin-left: 10px;
}

#profile_predictions div.done div.match {
	overflow: hidden;	
	margin-bottom: 10px;
}

#profile_predictions div.match div.match_content div.flags div.flag div.image {
	font: 11px Arial, Helvetica, Geneva, sans-serif;
}

#profile_predictions div.done div.match div.match_content div.flags div.flag div.prediction_result {
	font-weight: bold;
	margin-top: 10px;
	height: 20px;
}

#profile_predictions div.match div.match_content {
	clear: both;
	overflow: auto;
	background-color: white;
	padding: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	
}

#profile_predictions div.incoming div.match div.match_content {
	width: 150px !important;	
}

#profile_predictions div.incoming div.match {
}

#profile_predictions div.done div.match div.match_content div.flags div.flag div.image {
	float: left;
}

#profile_predictions div.done div.match div.real_result {
	clear: both;	
	overflow: auto;
	padding: 5px;
	padding-left: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	background-color: #c7d79f;
	width: 170px;
}

#profile_predictions div.done div.match div.match_content div.match_message {
	float: left;
	
}

#profile_predictions div.done div.match div.match_content div.match_message span.right {
	color: #00c700;
}
#profile_predictions div.done div.match div.match_content div.match_message span.wrong {
	color: #f00;
}
#profile_predictions div.done div.match div.match_content div.match_message span.almost {
	color: #490a00;
}
#profile_predictions div.done div.match div.match_content div.match_message span.close {
	color: #f68800;
}


#profile_predictions div.done div.match div.match_content div.flags {
	overflow: hidden;	
	float: left;
}

#profile_predictions div.done div.match div.match_content div.flags div.flag {
	float: left;
}

div#profile_data h3 {
	font-size: 14px;
	margin-bottom: 5px !important;
	line-height: 10px;
	color: #90a65c;
}

.profiles #content h2 span {
	color: #90a65c;
}

#portlet_friends h2 span {
	font-size: 16px;
}


#profile_predictions div.done div.match div.match_content div.match_message {
	font-family: 'HelveticaRounded', Arial;
	overflow:visible;
	font-size: 1.2em;
	margin-top: 14px;
	margin-left: 20px;
	width: 100px;
}
#profile_predictions div.done a,
#profile_predictions div.incoming a {
	color: #6e7757;
	margin-left: 30px;
	margin-top: 20px;
	display: block;
}

.messages #content h3 {
	font-size: 1.5em;
	color: #a5c35f;
}

.messages #content h3 a {
	font-size: 14px;
	color: #423b13;
}

.messages #content h3 a.button.mainaction.add {
	color: #91a75d;
	background-image: none;
	text-decoration: underline;
}

.messages #content table.tableB {
	width: 100%;
	margin-top: 10px;
}

.messages #content table.tableB td {
	padding: 5px;
}

.messages #content table.tableB td a {
	color: #94823a;
	text-decoration: underline;
}

.messages #content div.titleB {
	font-size: 2em;
}

.messages #content p strong {
	font-size: 1.3em;
	display: block;
	color: #94823a;
	margin-top: 10px;
}

.messages #content form div.actions input.button.delete {

	color: white;
	border: none !important;
	font-size: 1em;
}

.messages #content div.titleB a {
	color: #94823a;
}

.messages #content form fieldset div.fields p label {
	font: 1.2em Arial, Helvetica, Geneva, sans-serif;
	line-height: 1.4em;
}

.messages #content form fieldset div.fields p {
	margin-bottom: 10px;
}

.messages #content form fieldset div.fields p label {
	display: block;
}
.messages #content table.tableB thead tr th {
	padding: 5px;
	background-color: #383627;
	color: white;
	font-weight: bold;
}

.messages #content table.tableB tbody tr.pair {
	background-color: #e6ebd6;
}


li img.flag,
td img.flag{        
       float:left;
       margin-right:5px;
}

li div.flag {
       float:left;
       height:32px;
       line-height:32px;
       width:65px;
       padding:5px 0;        
       text-transform:uppercase;
       }
td.flag {
       width:65px;        
       text-transform:uppercase;        
}


