- form_for resource_name, resource, :url => registration_path(resource_name) do |f| 
  =f.label :email, "Correo Electrónico", :class=>"label"
  =f.error_message_on :email
  =f.text_field :email, :class => :text_field

  =f.label :password, "Contraseña",:class=>"label"
  =f.error_message_on :password
  =f.password_field :password, :class => :password_field

  =f.label :password_confirmation, "Verifica tu contraseña", :class=>"label"
  =f.error_message_on :password_confirmation
  =f.password_field :password_confirmation, :class => :password_field

  =f.submit "Registrarse", :class => "button submit"
  =link_to "Cancelar", "#", :onclick => "window.location='#{root_path}';return false", :class => "button cancel"
  
  .clear
  = render :partial => "shared/devise_links" 
