<h1>Hola desde Patatoon</h1>
<p>Hola <%= @resource.email %>!</p>

<p>Puedes confirmar la creación de tu cuenta más abajo:</p>

<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
