<h1>¡Saludos de Patatoon!</h1>

<p>Hola <%= @resource.email %>!</p>

<p>Al parecer has pedido cambiar tu contraseña. No es problema si te la has olvidad; a todos nos pasa :).</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si no pediste este cambio, ignora este email.</p>
<p>Tu contraseña no se cambiará hasta que entres a ese link, asi que todo sigue normal :)</p>
