%li{:class=>(cycle("odd","even"))}
  %div
    = image_tag news.picture.url(:front)
    %a.plus{:href => "#"} +
  %p.alt= truncate(news.title,30)
  %p.date= l(news.published_at, :format=>:long)
  %p= truncate(news.content,100)
m