#nexts-games
  %h2 próximos partidos
  #counter-cont
    #vs
      .one.flag.medium.rsa= @last_match.try(:local).try(:short_name)
      vs
      .two.flag.mex.medium= @last_match.try(:visitor).try(:short_name)
    .counter
      .day
        %span 6
        días
      .hour
        %span 15
        horas
      .minute
        %span 14
        minutos
      .second
        %span 20
        segundos
  %ul
    = render :partial => "home/next_match", :collection => @matches
  .clear