#facebook_likebox
  %iframe{:allowtransparency => "true", :frameborder => "0", :scrolling => "auto", :src => "http://www.facebook.com/plugins/likebox.php?id=129238740437455&amp;width=240&amp;connections=20&amp;stream=false&amp;header=false&amp;height=340&amp;show-faces=true&amp;scroll=true", :style => "border:none; overflow:hidden; width:240px; height:340px;"}

#chunteros
  %h3 los chunteros
  %ul.ranking= render :partial => "home/top_season",:collection=>@top_season

#punteros
  %h3 los punteros
  %ul.ranking= render :partial => "home/top_times", :collection => @top_times

#invite
  %h3
    invita a
    %br>/
    tus amigos
  %ul
    %li.facebook
      %a{:href => "#"}
    %li.twitter
      %a{:href => "#"}
    %li.email
      %a{:href => "#"}
