- @body_class = "register home"
- @title = "Patatoon :: Sobre Patatoon"                                                                                  
                                           
                                                                                  
%h2 Reglas del Juego

#rules
  %p 
    Para poder jugar, tienes que ser un usuario registrado. 
    = link_to "regístrate aqui",new_registration_path("account")

  %p 
    El objetivo es obtener la mayor cantidad de puntos pronosticando los resultados de los partidos que Ud haya elegido. Se podrá acumular puntos por cada partido, la acumulación de puntos será de acuerdo a los resultados finales de cada encuentro.
  
  %p La puntuacion sera de la siguiente manera (para la primera ronda):

  %table
    %tr
      %td Por acertar en el resultado exacto del encuentro
      %td 3 Puntos
    %tr
      %td Por acertar equipo ganador
      %td 2 Puntos
  

  %p 
    Cada Persona obtiene una determinada cantidad de puntos por partido.
  %p 
    Habrá ganadores por ronda donde se publicarán a los patatoneros que estén liderando la punta en puntos.
  
  %p 
    A partir de 8vos de final, los patatoneros que tengan más puntos tendrán premios como pasajes nacionales.

  %p
    El premio mayor será un pasaje a ver la final de la Copa Libertadores que será sorteado entre los Patatoneros que hayan acumulado el puntaje mas alto entre los demas participantes.
  %p
    El concurso será válido solo en territorio nacional y para ser entregado deberá el ganador demostrar mayoría de edad (en caso de ser menor de edad, podrá reclamar el premio con una persona mayor responsable por él).

  %p 
    Todo premio tendra vigencia 30 dias calendarios para reclamarlos.

  %p
    El premio es personal e instransferible.

  %p 
    Patatoon se compromete no sólo en publicar los datos del ganador en su página, como tambien la entrega del premio.
  %p 
    Patatoon no se responsabiliza por cambios de ultimo momento que la empresa aérea y o la fecha programada para el partido sea modificada.
  %p
    Patatoon se rige a todas las jurisdicciones de leyes peruanas.