- if home_match
  %li{:class =>"match"}
    = link_to image_tag(home_match.picture.url(:front)), home_match
    .head 
      %strong= link_to home_match.title, home_match
      %span= "en " + distance_of_time_in_words_to_now(home_match.played_at)
      - if account_signed_in?
        = link_to "¡pronostica!", match_prediction_path(home_match), :class=>"small iframe"