- @title = "Patatoon :: Noticias "

- @body_class = "register home"
  
#posts= render :partial => 'posts/post', :collection => @posts

.pagination
  = will_paginate @posts

- content_for :sidebar do
  = render :partial => "home/sidebar"
