- semantic_form_for ["admin",@group] do |form|
  - form.inputs do
    = form.input :name, :label => "Nombre"
    = form.input :championship, :label => "Campeonato"
  - form.buttons do
    = form.commit_button 'Grabar',:button_html => { :class => "submit" }