<div class="portlet portletJ" id="portlet_last_groups">
    <h2><span>Ultimos grupos</span></h2>
    <div class="portlet_content">
        <ul>
            <% last_groups(3).each do |group| -%>
              <li class="clearfix">
                  <div class="title"><%= group.name -%></div>
                  <div class="text">
                      Creado en: <%=I18n.l(group.created_at, :format => :short)%>
                      <br/>
                      <%= "#{group.members.size} miembros" %>
                  </div>
                  <div class="more"><%= link_to "más información", gang_path(group) -%></div>
              </li>            
            <% end -%>            
        </ul> 
    </div>    
</div> <!-- /.portlet_pluginsTog -->
