<form name="gang_search" id="gang_search" action="<%= search_gangs_path %>">
  <label for="gang_search_field"><%= "Buscar en manchas" %></label>
  <input type="text" name="search_term" id="search_term" value="<%=@search_term%>" class="fieldbox" />
  <input type="submit" value="<%= "Buscar" %>" class="button" />
</form>
