!!! Strict
%html
  %head
    = stylesheet_link_tag 'reset', '../javascripts/fancybox/jquery.fancybox-1.3.1','style', 'formtastic_changes','admin_style'
        
  %body{:class=>controller.controller_name}
    = yield
