- @title = "FaniToons ::  Editando tu perfil"

#banner 

#main_content

  #edit_account
    %h2 Actualizando tu perfil

    %h3 Actualiza o agrega tus datos
    .content_box
      -form_for @account, :class => :form, :multipart=>"true" do |f|
        .group
          =f.label "Nombres", :class=>"label"
          =f.error_message_on :name
          =f.text_field :name, :class => :text_field

        .group
          =f.label "Apellidos", :class=>"label"
          =f.error_message_on :surname
          =f.text_field :surname, :class => :text_field

        .group
          =f.label "Foto", :class=>"label"
          =f.error_message_on :surname
          =f.file_field :picture, :class => :text_field
        .group
          = image_tag(@account.picture.url(:medium)) if  @account.picture
        .group
          =f.label :email, :class=>"label"
          =f.error_message_on :email
          = @account.email 
          %br
          %span.description Por seguridad, no puedes cambiar tu correo una vez creada tu cuenta

        .group
          =f.label :password, :class=>"label"
          =f.error_message_on :password
          =f.password_field :password, :class => :password_field
          %span.description Si no deseas cambiar tu contraseña, deja este campo vacío

        .group
          =f.label :password_confirmation, :class=>"label"
          =f.error_message_on :password_confirmation
          =f.password_field :password_confirmation, :class => :password_field

        .group.navform.wat-cf
          =f.submit "Actualizar", :class => :button
          =f.submit "Cancelar", :onclick => "window.location='#{root_path}';return false", :class => :button


- content_for :sidebar do

  #ranking.block
    %h2 Los que siempre aciertan

    %h2 Los más rankeados

  #featured_posts.block
    %h2 Destacadas
    .content_box Destacada